.register_bigdiv{
    // width: 99.9%;
    height:calc(100vh - 75px);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(199, 241, 227, 0.202);
    border-top: 1px solid rgba(63, 239, 181, 0.202);
    
}