<div class="footerBox">
    <div class="SubscribeBox">
      <div class="subNew">
        <h2>Subscribe newsletter</h2>
      </div>
      <div class="mailBtnBox">
        <p>Email address</p>
          <img src={send} />
      </div>
      <div class="callUs">
        <div>
        <img src={headphone}/>
        </div>
        <div class="callUsBox">
        <p>Call us 24/7:</p>
        <p>(+62)789 456 123</p>
        </div>  
      </div>
    </div>
    <div class="linkBox">
      <div class="social">
        <img src={logo} />
        <p>64 st james boulevard hoswick , ze2 7zj</p>
        <img src={facebook}/>
        <img src={google} />
        <img src={whatsapp} />
      </div>
        <div class="findProduct">
          <h5>Find product</h5>
          <ul class="footerUl">
            <li>Brownze arnold</li>
            <li>Chronograph blue</li>
            <li>Smart phones</li>
            <li>Automatic watch</li>
            <li>Hair straighteners</li>
          </ul>
        </div>
        <div class="findProduct">
          <h5>Get help</h5>
          <ul class="footerUl">
            <li>About us</li>
            <li>Contact us</li>
            <li>Return policy</li>
            <li>Privacy policy</li>
            <li>Payment policy</li>
          </ul>
        </div>
        <div class="findProduct">
          <h5>About us</h5>
          <ul class="footerUl">
            <li>News</li>
            <li>Service</li>
            <li>Our policy</li>
            <li>Customer care</li>
            <li>Faq’s</li>
          </ul>
        </div>
      </div>
    </div>